body {
    background-color: aqua
}

.footer {
    background-color:#F1F1F1;   
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: solid 2px #e4e4e4;
 }
 
 .bl {
     float: left;
     padding: 16px;
 }
 
 .bl li{
     display: inline;
     padding: 15px;
     font-size: 25px;  
 }
 
 .br {
     float: right;
     padding: 15px;
 }
 
 .br li{
     display: inline;
     font-size: 25px;
     padding: 15px;
 }
 